<div id="changePwdFrm" class='contentForm'>
<section class="popupform">
  <h2>Change Password</h2>

  <form>
  <div class='errmsg'>{{chPwdCtr.errorMsg}}</div>

  <input type="password" ng-model="chPwdCtr.currentPwd" placeholder="Current Password" id="current_password" class='txtbox txttop'>
  <input type="password" ng-model="chPwdCtr.newPwd" placeholder="New Password" id="new_password" class='txtbox txtmiddle'>
  <input type="password" ng-model="chPwdCtr.confirmPwd" placeholder="Confirm Password" id="confirm_password" class='txtbox txtbottom'>
  <input type="button" class='btn' id="updtepwd" value="Update" ng-click="chPwdCtr.update()">
  <input type="button" class='btn' value="Cancel" ng-click="chPwdCtr.hide()">

  </form>
</section>

</div>
